[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SMOTEWB"]
	path = SMOTEWB
	url = https://github.com/cran/SMOTEWB
	shallow = true
	registered = true
